* {
    margin: 0px;
    /*сбрасываю по умолчанию отступы всем элементам*/
    padding: 0px;
}

body {
    height: 100%;
    margin: 0px auto;
    padding: 0px;
    background-image: url(/img/5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#main {
    width: 400px;
    margin: 0 auto;
    background-color: rgba(255, 255, 0, 0.2);
    margin-top: 20px;
}

#form {
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: 70px 70px 70px 70px 70px 70px 70px 70px 100px 70px;
}

#form>div {
    margin-left: 30%;
    color: red;
}

p{
    display: inline-block;
    height: 15px;
    font-size: 15px;
    color: red;
}

input {
    border-radius: 4px;
    border: 1px solid #ddd;
}

/* input:valid {
    border-color: green;
}

input:invalid {
    border-color: red;
} */

textarea {
    height: 48px;
    /* white-space: nowrap;
    overflow: hidden; */
}
#submit {
    margin-left: 39%;
}
#submit {
    background-color: #4CAF70;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}
#submit:hover {
    cursor: pointer;
}